[Desktop Entry]
Name=Hoverclock
Comment=A simple floating clock for Linux
GenericName=Hoverclock
Categories=Utility;
Icon=hoverclock
Exec=hoverclock
Terminal=false
Type=Application
X-DBUS-StartupType=unique
X-KDE-PluginInfo-Author=Kostoski Stefan
X-KDE-PluginInfo-Email=kostoski.stefan90@gmail.com
X-KDE-PluginInfo-Version=0.0.9
X-KDE-PluginInfo-Website=https://github.com/kostoskistefan/hoverclock
